{
  "parser": "@typescript-eslint/parser",
  // if eslint errors come back to routes files, remove parserOptions
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "no-console": [1, { "allow": ["warn", "error"]}],
    "react/jsx-no-bind": 0,
    "implicit-arrow-linebreak": 0
  },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"]
}
