{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "no-console": [1, { "allow": ["warn", "error"]}]
  },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"]
}
